@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Neonderthaw&family=Noto+Sans+JP:wght@100..900&display=swap");

.wbox {
  font-family: "Noto Sans JP", sans-serif;
  margin-block-start: 2rem;
  position: relative;
  margin-block-end: 6rem;
}

.box {
  background-repeat: repeat;
  background-color: #f9f6f2;
  position: relative;
  opacity: 1;
  background-image: linear-gradient(#ffe7f4 1.1px, transparent 1.1px),
    linear-gradient(to right, #ffe7f4 1.1px, #f9f6f2 1.1px);
  background-size: 22px 22px;
  /* background-image: url(https://raw.githubusercontent.com/cancion97/portfolio_miki/main/public/textbg.png); */

  display: flex;
  flex-direction: column;
  max-width: 1000px;

  box-shadow: 4px 4px 7px #d0d0d0;
  margin-block-end: 1rem;
  @media (width < 1200px) {
    margin-block-end: 1rem;
  }
}

.titlewrap {
  display: flex;
  gap: 3rem;
  margin-block-start: 2rem;
  margin-inline: 1.5rem;
  align-items: center;
  @media (width < 750px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  h3 {
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 1rem;
    font-size: 24px;
    @media (width < 750px) {
      padding: 0.5rem;
      font-size: 20px;
    }
  }

  img {
    height: 40px;
    margin-inline: 0.5rem;
    @media (width < 900px) {
      height: 30px;
    }
  }
}

.text {
  margin: 2rem;
  /* max-width: 500px; */
  padding: 1rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  @media (width < 750px) {
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    font-weight: 600;
    line-height: 1.7rem;
  }
  @media (width < 500px) {
    font-size: 15px;
  }
}
.blockSpan {
  display: block;
  @media (width < 750px) {
    display: inline;
  }
}

.btnbox {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-inline-end: 8rem;
  padding-block-end: 2rem;

  @media (width < 1200px) {
    margin-inline-end: 2rem;
  }

  @media (width < 500px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.imgbox {
  width: 100%;
}

.scshots {
  position: relative;
  @media (width < 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.img {
  pointer-events: none;
  max-width: 740px;
  position: relative;
  z-index: 10;
  right: -500px;
  bottom: 0px;
  @media (width < 1200px) {
    right: 0;
    bottom: 0;
    flex-basis: 60%;
  }
  @media (width < 960px) {
    width: 350px;
  }
}

.imgs {
  max-width: 200px;
  height: auto;
  position: absolute;
  right: 16px;
  z-index: 15;
  bottom: 400px;
  @media (width < 1200px) {
    position: static;
    flex-basis: 40%;
  }
  @media (width < 960px) {
    display: none;
  }
}

.clip {
  width: 50px;
  position: absolute;
  top: -40px;
  right: 30px;
  img {
    width: 100%;
  }
}

.modal {
  margin-inline: auto;
  background-color: rgb(252, 249, 241);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 200;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid #ffba4b;
  box-shadow: 8px 8px 20px #00000019;
}

.modalOverlay {
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  display: flex;
  position: fixed;
  z-index: 150;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-color: #00000023;
}

.btn {
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-inline: auto;
  border-radius: 2rem;
  border: 1px solid #333;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  transition: 0.2s;
  background-color: white;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  margin-block: 1.5rem;
  img {
    width: 25px;
  }
  &:hover {
    background-color: rgb(230, 233, 233);
  }
}
