@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Neonderthaw&family=Noto+Sans+JP:wght@100..900&display=swap");

.titlewrap {
  margin-block-start: 4rem;
}

.subtitle {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-size: 50px;
  text-align: start;
  font-style: normal;
  color: #333;
  @media (width < 750px) {
    font-size: 32px;
  }
}

.title {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 120px;

  animation: blinkC 2s infinite;
  @media (width < 750px) {
    font-size: 70px;
  }
  @media (width < 500px) {
    font-size: 50px;
  }
}

@keyframes blinkC {
  0% {
    opacity: 1;
    color: #333;
  }
  49% {
    opacity: 1;
    color: #333;
  }
  50% {
    background-image: radial-gradient(circle, #fbff07, #ee6fff, #333);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  100% {
    background-image: radial-gradient(circle, #fbff07, #eb7cff, #333);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
