@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Neonderthaw&family=Noto+Sans+JP:wght@100..900&display=swap");

.titlewrap {
  margin-block-start: 4rem;
}

.subtitle {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  color: #333;
  @media (width < 750px) {
    font-size: 32px;
  }
}

.title {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 120px;
  @media (width < 750px) {
    font-size: 70px;
  }
  @media (width < 500px) {
    font-size: 50px;
  }
}
