@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Neonderthaw&family=Noto+Sans+JP:wght@100..900&display=swap");

.btn {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 1px solid #333;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  transition: 0.2s;
  background-color: white;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  img {
    width: 25px;
  }
  &:hover {
    background-color: rgb(231, 255, 255);
  }
}
