/* .img {
  width: 400px;
  margin-inline: center;
  align-self: center;
  padding-block: 3rem;
  img {
    width: 100%;
  }
  @media (width < 750px) {
    width: 300px;
  }
  @media (width < 500px) {
    width: 200px;
  }
  &:hover {
    display: none;
  }
}

.img2 {
  width: 400px;
  margin-inline: center;
  align-self: center;
  padding-block: 3rem;
  img {
    width: 100%;
  }
  @media (width < 750px) {
    width: 300px;
  }
  @media (width < 500px) {
    width: 200px;
  }
} */
.wrapper {
  position: relative;
  width: 450px; /* 好きなサイズに変更 */
  height: 450px;
  transition: 3s;

  @media (width < 750px) {
    width: 350px;
  }
  @media (width < 500px) {
    width: 250px;
    height: 250px;
  }
  &:hover {
    scale: 2;
  }
}

/* 全画像共通設定 */
.wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 1枚目：0〜50%で表示、50〜100%で消える */
.img1 {
  animation: blinkA 2s infinite;
  /* transform-origin: center bottom; */
}

/* 2枚目：50%で切り替え（逆パターン） */
.img2 {
  animation: blinkB 2s infinite;
  /* transform-origin: center bottom; */
}

@keyframes blinkA {
  0% {
    opacity: 1;
    rotate: 3deg;
  }
  49% {
    opacity: 1;
    rotate: -1deg;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinkB {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    rotate: -1deg;
  }
  100% {
    opacity: 1;
    rotate: 3deg;
  }
}
