.wrap {
  background: linear-gradient(70deg, #e0faf9, #fcf4fa);
  position: relative;
  margin-block-start: 4rem;
  padding-block: 5rem;
}

.title {
  position: relative;
}

.title h2 {
  position: relative;
  z-index: 2;
  font-size: 160px;
  color: rgb(142, 142, 142);
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  mix-blend-mode: color-burn;
  text-align: center;
}

.title p {
  position: absolute;
  mix-blend-mode: color-burn;
  color: #004377;
  z-index: 3;
  font-size: 2rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: fit-content;
  margin-inline: auto;
  border: 1px solid #7cb6c8;
  padding: 24px 64px;
  border-radius: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  background-color: white;
  cursor: pointer;
  color: #0067cd;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 20;
  img {
    width: 25px;
  }
  &:hover {
    scale: 1.05;
  }
}
