.headerwrap {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-block-end: 10rem;
  padding: 1rem 2rem 2rem 2rem;

  @media (width < 750px) {
    padding: 1rem;
  }
}

.box {
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  /* 🔥 中身を中央寄せにする */
  align-items: center;
  text-align: center;
}
