@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Neonderthaw&family=Noto+Sans+JP:wght@100..900&display=swap");

.title {
  font-family: "Fredoka", sans-serif;
  font-size: 24px;
  margin-block: 1rem;
}

.box {
  flex-basis: 55%;
}
