body {
  background-color: rgb(234, 252, 255);
}

header {
  color: white;
}

img {
  width: 100%;
}

.firstview {
  width: 100vw;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.section_wrap {
  margin: 1rem;
}

section {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  margin-block: 1.5rem;
  box-shadow: 5px 5px 20px #6aa6d7;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.511);

  div {
    color: #175b93;
  }

  img {
    transition: 0.3s;

    &:hover {
      scale: 1.05;
      box-shadow: 0px 0px 20px #6aa6d7;
    }
  }
}

footer {
  background-color: #08609aff;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  small {
    color: white;
  }
}
