@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Neonderthaw&family=Noto+Sans+JP:wght@100..900&display=swap");
html {
  scroll-behavior: smooth;
}

main {
  font-family: "Noto Sans JP", sans-serif;
}
